{% extends 'base.html.twig' %}

{% block title %}Daypartstatus index{% endblock %}

{% block body %}
    <h1>Daypartstatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for daypartstatus in daypartstatuses %}
            <tr>
                <td>{{ daypartstatus.id }}</td>
                <td>{{ daypartstatus.status }}</td>
                <td>{{ daypartstatus.value }}</td>
                <td>
                    <a href="{{ path('daypartstatus_show', {'id': daypartstatus.id}) }}">show</a>
                    <a href="{{ path('daypartstatus_edit', {'id': daypartstatus.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('daypartstatus_new') }}">Create new</a>
{% endblock %}
