{% extends 'base.html.twig' %}

{% block title %}Daypartstatus{% endblock %}

{% block body %}
    <h1>Daypartstatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ daypartstatus.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ daypartstatus.status }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ daypartstatus.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('daypartstatus_index') }}">back to list</a>

    <a href="{{ path('daypartstatus_edit', {'id': daypartstatus.id}) }}">edit</a>

    {{ include('daypartstatus/_delete_form.html.twig') }}
{% endblock %}
