{% extends 'base.html.twig' %}

{% block title %}Timeslot index{% endblock %}

{% block body %}
    <h1>Timeslot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slot</th>
                <th>Dispo</th>
                <th>Confirmed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timeslot in timeslots %}
            <tr>
                <td>{{ timeslot.id }}</td>
                <td>{{ timeslot.slot }}</td>
                <td>{{ timeslot.dispo ? 'Yes' : 'No' }}</td>
                <td>{{ timeslot.confirmed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('timeslot_show', {'id': timeslot.id}) }}">show</a>
                    <a href="{{ path('timeslot_edit', {'id': timeslot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('timeslot_new') }}">Create new</a>
{% endblock %}
