{% extends 'base.html.twig' %}

{% block title %}WorkingDay index{% endblock %}

{% block body %}
    <h1>WorkingDay index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Daydate</th>
                <th>Daymonth</th>
                <th>Dayyear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for working_day in working_days %}
            <tr>
                <td>{{ working_day.id }}</td>
                <td>{{ working_day.daydate }}</td>
                <td>{{ working_day.daymonth }}</td>
                <td>{{ working_day.dayyear }}</td>
                <td>
                    <a href="{{ path('working_day_show', {'id': working_day.id}) }}">show</a>
                    <a href="{{ path('working_day_edit', {'id': working_day.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('working_day_new') }}">Create new</a>
{% endblock %}
