{% extends 'base.html.twig' %}

{% block title %}WorkingDay{% endblock %}

{% block body %}
    <h1>WorkingDay</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ working_day.id }}</td>
            </tr>
            <tr>
                <th>Daydate</th>
                <td>{{ working_day.daydate }}</td>
            </tr>
            <tr>
                <th>Daymonth</th>
                <td>{{ working_day.daymonth }}</td>
            </tr>
            <tr>
                <th>Dayyear</th>
                <td>{{ working_day.dayyear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('working_day_index') }}">back to list</a>

    <a href="{{ path('working_day_edit', {'id': working_day.id}) }}">edit</a>

    {{ include('working_day/_delete_form.html.twig') }}
{% endblock %}
