{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="login d-flex align-items-center justify-content-center">
    <div class="row signIn">
        <div class="col">
              <h6>
                  {{ form_label(form.name, 'Nom') }}
              </h6>
              <div>
                  {{ form_widget(form.name) }}
              </div>
              <h6>
                  {{ form_label(form.surname, 'Prénom') }}
              </h6>
              <div>
                  {{ form_widget(form.surname) }}
              </div>
              <h6>
                  {{ form_label(form.username, 'Identifiant') }}
              </h6>
              <div>
                  {{ form_widget(form.username) }}
              </div>

              <h6>
                  {{ form_widget(form) }}
              </h6>
              <input type="submit" value="{{ 'registration.submit'|trans }}" />
          </div>
      </div>
  </div>
{{ form_end(form) }}
