{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="container-fluid fond">
        <div class="row justify-content-center ">
            <div class="col-9 fond2" style="margin: 20px">
                <h3>Catégorie</h3>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ category.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ category.description | raw}}</td>
                    </tr>
                    </tbody>
                </table>
                <div style="margin: 20px 0 20px 0" class="row action">
                    <a href="{{ path('category_edit', {'id': category.id}) }}">
                        <button class="btn btn-success">Modifier</button>
                    </a>
                </div>
                <div class="row action">
                    {{ include('category/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0" class="row action">
                    <a href="{{ path('category_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}