{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    <div class="container">
        <div id="Welcome">
            <h2>Bienvenu</h2>

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <h3>Vous êtes connecté {{ app.user.username }} {% if is_granted("ROLE_ADMIN") %} (admin) {% endif %}</h3>

            {% else %}
                <h5>
                    Veuillez vous connecter
                </h5>
            {% endif %}
        </div>
    </div>
<div >
    {% for user in users  %}
    <div>{{ user.username }}</div>
    <div>{{ user.name }}</div>
    <div>{{ user.phone }}</div>
    <div>{{ user.email }}</div>
    {% endfor %}
</div>

{% endblock %}



{% block javacripts %}

{% endblock %}
