{% extends 'base.html.twig' %}

{% block title %}Typeconsult index{% endblock %}

{% block body %}
    <h1>Typeconsult index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Rate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeconsult in typeconsults %}
            <tr>
                <td>{{ typeconsult.id }}</td>
                <td>{{ typeconsult.description }}</td>
                <td>{{ typeconsult.rate }}</td>
                <td>
                    <a href="{{ path('typeconsult_show', {'id': typeconsult.id}) }}">show</a>
                    <a href="{{ path('typeconsult_edit', {'id': typeconsult.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('typeconsult_new') }}">Create new</a>
{% endblock %}
