{% extends 'base.html.twig' %}

{% block title %}Type de consultation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Type de consultation</h3>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ typeconsult.id }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ typeconsult.description }}</td>
                    </tr>
                    <tr>
                        <th>Rate</th>
                        <td>{{ typeconsult.rate }}</td>
                    </tr>
                    </tbody>
                </table>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('typeconsult_edit', {'id': typeconsult.id}) }}">
                        <button class="btn btn-success">Modifier</button>
                    </a>
                </div>
                <div>
                    {{ include('typeconsult/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('typeconsult_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
