{{ form_start(form) }}
    <div class="justify-content-center">
        <h6>
            {{ form_label(form.name, 'Nom') }}
        </h6>
        <div>
            {{ form_widget(form.name)}}
        </div>
        <h6>
            {{ form_label(form.name, 'Catégorie') }}
         </h6>
        <div>
            {{ form(form.category)}}
        </div>
        <h6>
            {{ form_label(form.name, 'Etat émotionnel') }}
        </h6>
        <div>
            {{ form_widget(form.state)}}
        </div>
        <h6>
            {{ form_label(form.name, 'Effets') }}
        </h6>
        <div>
            {{ form_widget(form.effect)}}
        </div>
        <h6>
            {{ form_label(form.name, 'Famille d\'émotions') }}
        </h6>
        <div>
            {{ form_widget(form.indications)}}
        </div>
        <h6>
            {{ form_label(form.name, 'Image') }}
        </h6>
        <div>
            {{ form(form.image)}}
        </div>

        {{ form_rest(form) }}
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
