{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="container-fluid fond">
        <div class="row justify-content-center">
            <div class="col-9 fond2" style="margin: 20px">
                <h3>Liste des produits</h3>
                <div class="add row ">
                    <a href="{{ path('product_new') }}">
                        <button class="btn btn-success">Ajouter</button>
                    </a>
                </div>

                <table class="table table-responsive" id="myTable">
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)" class="sort">
                            Nom
                            <i class="fas fa-sort"></i>
                        </th>
                        <th>Image</th>
                        <th>Etat émotionnel</th>
                        <th>Effets</th>
                        <th onclick="sortTable(4)" width="150px" class="sort">
                            Catégorie
                            <i class="fas fa-sort"></i>
                        </th>
                        <th onclick="sortTable(5)" class="sort">
                            Indication
                            <i class="fas fa-sort"></i>
                        </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>
                                {% if(product.image) %}
                                    <img src="{{ asset(product.image.imgpath) }}" width="75px"
                                         alt="{{ product.image.alt }}"/>
                                {% endif %}
                            </td>
                            <td>{{ product.state | raw }}</td>
                            <td>{{ product.effect | raw }}</td>
                            <td>{{ product.category.title }}</td>
                            <td>
                                {% for indication in product.indications %}
                                    <div>{{ indication }}</div>
                                {% endfor %}
                            </td>
                            <td>
                                <div>
                                    <a href="{{ path('product_show', {'id': product.id}) }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('product_edit', {'id': product.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun produit trouvé</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div style="margin: 20px 0 20px 0" class="row add">
                    <a href="{{ path('product_new') }}">
                        <button class="btn btn-success">Ajouter</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
{% endblock %}