{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <h3>Produit</h3>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>Etat émotionnel</th>
                        <td>{{ product.state }}</td>
                    </tr>
                    <tr>
                        <th>Effet</th>
                        <td>{{ product.effect }}</td>
                    </tr>
                    <tr>
                        <th>Catégorie</th>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        <th>Indication</th>
                        <td>
                            {% for indication in product.indications %}
                                <div>{{ indication }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('product_edit', {'id': product.id}) }}">
                        <button class="btn btn-success">Modifier</button>
                    </a>
                </div>
                <div>
                    {{ include('product/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('product_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
