{% extends 'base.html.twig' %}

{% block title %}Dayparttype index{% endblock %}

{% block body %}
    <h1>Dayparttype index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Definition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dayparttype in dayparttypes %}
            <tr>
                <td>{{ dayparttype.id }}</td>
                <td>{{ dayparttype.value }}</td>
                <td>{{ dayparttype.definition }}</td>
                <td>
                    <a href="{{ path('dayparttype_show', {'id': dayparttype.id}) }}">show</a>
                    <a href="{{ path('dayparttype_edit', {'id': dayparttype.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dayparttype_new') }}">Create new</a>
{% endblock %}
