{% extends 'base.html.twig' %}

{% block title %}Liste des indications{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
               <h3>Liste des indications</h3>
                <div class="add row " >
                    <a href="{{ path('indication_new') }}">
                        <button class="btn btn-success">Ajouter</button>
                    </a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for indication in indications %}
                        <tr>
                            <td>{{ indication.description }}</td>
                            <td>
                                <div>
                                    <a href="{{ path('indication_show', {'id': indication.id}) }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('indication_edit', {'id': indication.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucune indication trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row add">
                    <a href="{{ path('indication_new') }}">
                        <button class="btn btn-success">Ajouter</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
