{% extends 'base.html.twig' %}

{% block title %}Liste des indications{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <h3>Liste des indications</h3>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ indication.id }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ indication.description }}</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a href="{{ path('indication_index') }}">
                        <button class="btn btn-secondary">Retour à la liste des indications</button>
                    </a>
                </div>
                <div>
                    <a href="{{ path('indication_edit', {'id': indication.id}) }}">
                        <button class="btn btn-success">Modifier</button>
                    </a>
                </div>
                {{ include('indication/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
