{% extends 'base.html.twig' %}

{% block title %}Workingday{% endblock %}

{% block body %}
    <h1>Workingday</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workingday.id }}</td>
            </tr>
            <tr>
                <th>Daydate</th>
                <td>{{ workingday.daydate }}</td>
            </tr>
            <tr>
                <th>Daymonth</th>
                <td>{{ workingday.daymonth }}</td>
            </tr>
            <tr>
                <th>Dayyear</th>
                <td>{{ workingday.dayyear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('workingday_index') }}">back to list</a>

    <a href="{{ path('workingday_edit', {'id': workingday.id}) }}">edit</a>

    {{ include('workingday/_delete_form.html.twig') }}
{% endblock %}
