{% extends 'base.html.twig' %}

{% block title %}DayPartStatus index{% endblock %}

{% block body %}
    <h1>DayPartStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for day_part_status in day_part_statuses %}
            <tr>
                <td>{{ day_part_status.id }}</td>
                <td>{{ day_part_status.status }}</td>
                <td>{{ day_part_status.value }}</td>
                <td>
                    <a href="{{ path('day_part_status_show', {'id': day_part_status.id}) }}">show</a>
                    <a href="{{ path('day_part_status_edit', {'id': day_part_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('day_part_status_new') }}">Create new</a>
{% endblock %}
