<h4>Bonjour {{ user.firstname }} {{ user.name }}</h4>

<p>Merci d'avoir déposé une demande de rendez-vous sur notre site : renaissance-terrehappy.fr</p>

Votre demande de rendez-vous :
<ul>
    <li>{{ daypart.workingday.daydate }}/
        {{ daypart.workingday.daymonth }}/
        {{ daypart.workingday.dayyear }}</li>
    <li>{{ daypart.type.definition }}</li>
    <li>{{ daypart.consult.tittle }}</li>
    <li>{{ daypart.consult.description }}</li>
</ul>

<p>Vous pourrez connaitre le statut de votre demande en vous connnectant sur
    <a href="https://renaissance-terrehappy.fr/registration">votre espace personnel</a></p>
<p>Si vous n'avez pas de confirmation dans les 48 heures ou si votre demande est urgente,</p>
<p>n'hésitez pas à me contacter par téléphone au 06-84-32-47-95 !</p>

<div style="font-size: smaller">
    <div>Si vous n'êtes pas à l'origine de cette demande, merci de nous l'indiquer en cliquant
        <a href="mailto: perez-valerie@live.fr">ici</a></div>

    <div>Retrouvez notre politique de confidentialité et de protection de vos données en cliquant
        <a href="https://renaissance-terrehappy.fr/confidential"> ici</a></div>
</div>
