<div class="justify-content-center">
<h6>{{ message.createdAt | date("d/m/Y")}}</h6>
<h4>{{ message.name }} {{ message.firstname }}</h4>
<p>{{ message.address }}</p>
<h6>{{ message.object }}</h6>
<p>{{ message.message }}</p>

{{ form_start(form) }}
<div >

    {{ form_widget(form) }}
</div>
    <div class="row action">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
{{ form_end(form) }}
