{% extends 'base.html.twig' %}

{% block title %}Créneaux horaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Créneaux horaires</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Valeur</th>
                        <th>Definition</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for day_part_type in day_part_types %}
                        <tr>
                            <td>{{ day_part_type.id }}</td>
                            <td>{{ day_part_type.value }}</td>
                            <td>{{ day_part_type.definition }}</td>
                            <td>
                                <div>
                                    <a href="{{ path('day_part_type_show', {'id': day_part_type.id}) }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ path('day_part_type_edit', {'id': day_part_type.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                Aucun créneau trouvé
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('day_part_type_new') }}">
                    <button class="btn btn-success"> Créer un nouveau créneau</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
