{% extends 'base.html.twig' %}

{% block title %}Modifier un rendez-vous{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <h3>Modifier un rendez-vous</h3>
                <h6>Date</h6>
                <div class="edit">
                   {{ day_part.workingday.daydate }}/
                   {{ day_part.workingday.daymonth }}/
                   {{ day_part.workingday.dayyear }}
                </div>
                <h6>Créneau horaire</h6>
                <div class="edit">
                    {{ day_part.type.definition }}
                </div>
                <div style="margin: 20px 0 20px 0">
                    {{ include('day_part/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                <div>
                    {{ include('day_part/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('calendar_index') }}">
                        <button class="btn btn-secondary">Retour au calendrier</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
