{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">

                <h3>Consultation</h3>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ day_part.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ day_part.workingday.daydate }}
                            /{{ day_part.workingday.daymonth }}
                            /{{ day_part.workingday.dayyear }}</td>
                    </tr>
                    <tr>
                        <th>Heure</th>
                        <td>{{ day_part.type.definition }}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>{{ day_part.status.status }}</td>
                    </tr>
                    {% if(day_part.status.value!=0) %}
                        <tr>
                            <th>Client</th>
                            <td>{{ day_part.user.name }} {{ day_part.user.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Type de consultation</th>
                            <td>{{ day_part.consult.description }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('day_part_edit', {'id': day_part.id}) }}">
                        <button class="btn btn-success">Modifier</button>
                    </a>
                </div>
                <div >
                    {{ include('day_part/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('calendar_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
