{{ form_start(form) }}

<div class="justify-content-center">
    <h6>
        {{ form_label(form.name, 'Nom') }}
    </h6>
    <div>
        {{ form(form.name) }}
    </div>
    <h6>
        {{ form_label(form.firstname, 'Prénom') }}
    </h6>
    <div>
        {{ form(form.firstname) }}
    </div>
    <h6>
        {{ form_label(form.address, 'Adresse email') }}
    </h6>
    <div>
        {{ form(form.email) }}
    </div>
    <h6>
        {{ form_label(form.object, 'Objet') }}
    </h6>
    <div>
        {{ form(form.object) }}
    </div>
    <h6>
        {{ form_label(form.name, 'Message') }}
    </h6>
    <div>
        {{ form(form.message) }}
    </div>
    <h6>
        {{ form_label(form.treated, 'Traité') }}
    </h6>
    <div>
        {{ form(form.treated) }}
    </div>
    <h6>
        {{ form_label(form.user, 'Utilisateur') }}
    </h6>
    <div>
        {{ form(form.user) }}
    </div>

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
